@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #cd3e0f7c;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #182028;
}
header {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    background-color: #00080F !important;

    .navbar-nav {
        gap: 30px;
        padding-left: 40px;

        .nav-link {
            color: #fff;
            transition: ease-in-out 0.3s;
            font-size: 18px;
            font-weight: 600;
            span{
                color: #fff;
                font-size: 14px;
                font-weight: 300;
                padding: 2px 12px;
                border-radius: 12px;
                background-color: #CD3D0F;

            }
        }

        .nav-link:hover {
            color: #CD3D0F !important;
            transition: ease-in-out 0.3s;
        }

        .active {
            color: #CD3D0F !important;
        }
    }

    .burger-menu {
        border: 0;

        i {
            color: #fff;
            font-size: 26px;
        }

    }

    .burger-menu:focus {
        box-shadow: none !important;
    }

    .navbar-text {
        .icons-div {
            display: flex;
            gap: 30px;

            .iconDiv {
                position: relative;
                a{
                    &:hover ul{
                        display: flex;
                    }
                    i {
                        font-size: 28px;
                        color: #fff;
                        transition: ease-in-out 0.3s;
                    }
                    .active{
                        color: #CD3D0F;
                    }
                    i:hover {
                        color: #CD3D0F;
                        transition: ease-in-out 0.3s;
                    }
    
                    span {
                        font-size: 14px;
                        right: 0px;
                        bottom: 90%;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        background-color: #A9D34F;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
    
                    ul{
                        display: none;
                        flex-direction: column;
                        gap: 20px;
                        background-color:#18181C;
                        position: absolute;
                        top: 30px;
    
                        z-index: 12;
                        padding: 30px 15px;
                        border-radius: 6px;
                        margin: 0;
                        li{
                            list-style: none;
                            font-size: 16px;
                            font-weight: 500;
                            color: #fff;
                            &:hover{
                                color: #E0232D;
                            }
                        }
                    }
                 
                }
                
            }

        }

    }
}

#section-hero {
    min-height: 81vh;
    background-color: #081018;
    padding: 40px 0;

    .section-hero-content {
        .contactFormBox {
            border-radius: 6px;
            padding: 60px 30px;
            background-color: #202020;
            max-width: 800px;
            margin: 0 auto;

            .title {
                padding: 20px 0;
                h2 {
                    color: #fff;
                }
            }

            form {
                display: flex;
                gap: 20px;
                flex-direction: column;
                width: 100%;

                input {
                    color: #fff;
                    width: 100%;
                    border: 1px solid #fff;
                    outline: 0;
                    background-color: transparent;
                    height: 45px;
                    border-radius: 6px;
                    padding: 0 20px;

                    &:focus {
                        border: 1px solid #CD3D0F;
                        outline: none;
                    }
                }

                textarea {
                    padding: 10px 20px;
                    background-color: transparent;
                    border-radius: 6px;
                    border: 1px solid #fff;
                    color: #fff;
                    outline: none;
                    &:focus{
                        border: 1px solid #CD3D0F;
                    }
                }
                button{
                    height: 45px;
                    color: #fff;
                    background-color: #CD3D0F;
                    font-weight: 500;
                    border: 0;
                    border-radius: 6px;
                }
            }
        }
    }
}






footer {
    padding: 30px 0 29px 0;
    background-color: #00080F;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        p {
            margin: 0;
            padding: 0;
            color: #90989f;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        ul {
            gap: 20px;
            display: flex;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;

            li {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    text-decoration: none;

                    i {
                        font-size: 16px;
                        color: #fff;
                    }
                }

                a:hover {
                    transition: .3s;
                    background-color: #E0232D !important;
                }
            }
        }
    }
}

@media screen and (max-width:560px) {
    header {
        .navbar-brand {
            img {
                width: 169px;
            }
        }
    }
}

@media screen and (max-width:991px) {

    header {
        .navbar-nav {
            padding-left: 0 !important;
            gap: 0;
        }
    }
}