@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #cd3e0f7c;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #182028;
}

header {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    background-color: #00080F !important;

    .navbar-nav {
        gap: 30px;
        padding-left: 40px;

        .nav-link {
            color: #fff;
            transition: ease-in-out 0.3s;
            font-size: 18px;
            font-weight: 600;

            span {
                color: #fff;
                font-size: 14px;
                font-weight: 300;
                padding: 2px 12px;
                border-radius: 12px;
                background-color: #CD3D0F;

            }
        }

        .nav-link:hover {
            color: #CD3D0F !important;
            transition: ease-in-out 0.3s;
        }

        .active {
            color: #CD3D0F !important;
        }
    }

    .burger-menu {
        border: 0;

        i {
            color: #fff;
            font-size: 26px;
        }

    }

    .burger-menu:focus {
        box-shadow: none !important;
    }

    .navbar-text {
        .icons-div {
            display: flex;
            gap: 30px;

            .iconDiv {
                position: relative;

                a {
                    &:hover ul {
                        display: flex;
                    }

                    i {
                        font-size: 28px;
                        color: #fff;
                        transition: ease-in-out 0.3s;
                    }

                    .active {
                        color: #CD3D0F;
                    }

                    i:hover {
                        color: #CD3D0F;
                        transition: ease-in-out 0.3s;
                    }

                    span {
                        font-size: 14px;
                        right: 0px;
                        bottom: 90%;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        background-color: #A9D34F;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }

                    ul {
                        display: none;
                        flex-direction: column;
                        gap: 20px;
                        background-color: #18181C;
                        position: absolute;
                        top: 30px;

                        z-index: 12;
                        padding: 30px 15px;
                        border-radius: 6px;
                        margin: 0;

                        li {
                            list-style: none;
                            font-size: 16px;
                            font-weight: 500;
                            color: #fff;

                            &:hover {
                                color: #E0232D;
                            }
                        }
                    }

                }

            }

        }

    }
}

#section-hero {
    min-height: 81vh;
    background-color: #081018;
    padding: 40px 0;

    .section-hero-content {
        
        display: flex;
        flex-direction: column;
        gap: 50px;

        .newsBox {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .newsItem {
                padding: 6px 6px 20px 6px;
                border-radius: 6px;
                background-color: #182028;

                .imgBox {
                    img {
                        width: 100%;
                        border-radius: 6px;
                    }
                }

                .textBox {
                    padding-right: 10px;
                    h3 {
                        color: #CD3D0F;
                    }
                    span{
                        color: gray;
                    }
                    p {
                        color: #cccccc;
                        font-size: 19px;
                        font-weight: 400;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        height: 140px;
                        overflow: hidden;
                    }

                    button {
                        border: 1px solid #b9b9b9;
                        background-color: transparent;
                        width: 142px;
                        height: 50px;
                        border-radius: 25px;
                        color: #fff;
                        font-weight: 500;
                        transition: 0.3s ease;
                        &:hover{
                            background-color: #CD3D0F;
                        }
                    }
                }
            }
        }
    }
}






footer {
    padding: 30px 0 29px 0;
    background-color: #00080F;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        p {
            margin: 0;
            padding: 0;
            color: #90989f;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        ul {
            gap: 20px;
            display: flex;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;

            li {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    text-decoration: none;

                    i {
                        font-size: 16px;
                        color: #fff;
                    }
                }

                a:hover {
                    transition: .3s;
                    background-color: #E0232D !important;
                }
            }
        }
    }
}

@media screen and (max-width:560px) {
    header {
        .navbar-brand {
            img {
                width: 169px;
            }
        }
    }
}

@media screen and (max-width:991px) {

    header {
        .navbar-nav {
            padding-left: 0 !important;
            gap: 0;
        }
    }
}