@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(205, 62, 15, 0.4862745098);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #182028;
}

header {
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  background-color: #00080F !important;
}
header .navbar-nav {
  gap: 30px;
  padding-left: 40px;
}
header .navbar-nav .nav-link {
  color: #fff;
  transition: ease-in-out 0.3s;
  font-size: 18px;
  font-weight: 600;
}
header .navbar-nav .nav-link span {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 12px;
  border-radius: 12px;
  background-color: #CD3D0F;
}
header .navbar-nav .nav-link:hover {
  color: #CD3D0F !important;
  transition: ease-in-out 0.3s;
}
header .navbar-nav .active {
  color: #CD3D0F !important;
}
header .burger-menu {
  border: 0;
}
header .burger-menu i {
  color: #fff;
  font-size: 26px;
}
header .burger-menu:focus {
  box-shadow: none !important;
}
header .navbar-text .icons-div {
  display: flex;
  gap: 30px;
}
header .navbar-text .icons-div .iconDiv {
  position: relative;
}
header .navbar-text .icons-div .iconDiv i {
  font-size: 28px;
  color: #fff;
  transition: ease-in-out 0.3s;
}
header .navbar-text .icons-div .iconDiv .active {
  color: #CD3D0F;
}
header .navbar-text .icons-div .iconDiv i:hover {
  color: #CD3D0F;
  transition: ease-in-out 0.3s;
}
header .navbar-text .icons-div .iconDiv span {
  font-size: 14px;
  left: -10px;
  bottom: 70%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #CD3D0F;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

#section-hero .img-one {
  width: 100%;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/homepage_2_slider_1_item_1.jpg");
}
#section-hero .img-one .carusel-img-liner {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 8, 15, 0.2196078431) 0%, rgba(0, 8, 15, 0.4392156863) 50%, #081018 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#section-hero .img-one .carusel-img-liner .carusel-item-one-content {
  text-align: center;
  max-width: 600px;
}
#section-hero .img-one .carusel-img-liner .carusel-item-one-content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
#section-hero .img-one .carusel-img-liner .carusel-item-one-content p {
  font-size: 18px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
#section-hero .img-one .carusel-img-liner .carusel-item-one-content button {
  border: 0;
  background-color: #CD3D0F;
  color: #fff;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
}
#section-hero .img-two {
  width: 100%;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/homepage_2_slider_1_item_2.jpg");
}
#section-hero .img-two .carusel-img-liner {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 8, 15, 0.2196078431) 0%, rgba(0, 8, 15, 0.4392156863) 50%, #081018 100%);
  display: flex;
  align-items: center;
}
#section-hero .img-two .carusel-img-liner .carusel-item-two-content {
  text-align: start;
  max-width: 600px;
}
#section-hero .img-two .carusel-img-liner .carusel-item-two-content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
#section-hero .img-two .carusel-img-liner .carusel-item-two-content p {
  font-size: 18px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
#section-hero .img-two .carusel-img-liner .carusel-item-two-content button {
  border: 0;
  background-color: #CD3D0F;
  color: #fff;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
}
#section-hero .img-three {
  width: 100%;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/homepage_2_slider_1_item_3.jpg");
}
#section-hero .img-three .carusel-img-liner {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 8, 15, 0.2196078431) 0%, rgba(0, 8, 15, 0.4392156863) 50%, #081018 100%);
  display: flex;
  align-items: center;
}
#section-hero .img-three .carusel-img-liner .carusel-item-three-content {
  text-align: start;
  max-width: 600px;
}
#section-hero .img-three .carusel-img-liner .carusel-item-three-content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
#section-hero .img-three .carusel-img-liner .carusel-item-three-content p {
  font-size: 18px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
#section-hero .img-three .carusel-img-liner .carusel-item-three-content button {
  border: 0;
  background-color: #CD3D0F;
  color: #fff;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
}

#section-featured {
  padding: 40px 0;
  background-color: #081018;
}
#section-featured .section-featured-content .section-featured-head-content {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
#section-featured .section-featured-content .section-featured-head-content .featured-title h4 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}
#section-featured .section-featured-content .section-featured-head-content .catogory-filters ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex-wrap: wrap;
}
#section-featured .section-featured-content .section-featured-head-content .catogory-filters ul li {
  color: #90989F;
  cursor: pointer;
  list-style: none;
}
#section-featured .section-featured-content .section-featured-head-content .catogory-filters ul li h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
#section-featured .section-featured-content .section-featured-head-content .catogory-filters ul .active {
  color: #CD3D0F;
}
#section-featured .section-featured-content .section-featured-carousel {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
}
#section-featured .section-featured-content .section-featured-carousel .wrapper {
  width: 100%;
  position: relative;
}
#section-featured .section-featured-content .section-featured-carousel .wrapper .i {
  z-index: 10;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: rgba(205, 62, 15, 0.4470588235);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: #fff;
}
#section-featured .section-featured-content .section-featured-carousel .wrapper .i:active {
  transform: translateY(-50%) scale(0.85);
}
#section-featured .section-featured-content .section-featured-carousel .wrapper .i:first-child {
  left: -12px;
}
#section-featured .section-featured-content .section-featured-carousel .wrapper .i:last-child {
  right: -12px;
}
#section-featured .section-featured-content .section-featured-carousel .wrapper .carousell {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#section-featured .section-featured-content .section-featured-carousel .carousell::-webkit-scrollbar {
  display: none;
}
#section-featured .section-featured-content .section-featured-carousel .carousell.no-transition {
  scroll-behavior: auto;
}
#section-featured .section-featured-content .section-featured-carousel .carousell.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
#section-featured .section-featured-content .section-featured-carousel .carousell.dragging .sec-two-card {
  cursor: grab;
  user-select: none;
  padding: 0 !important;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card {
  position: relative;
  background-color: #182028 !important;
  padding: 0px !important;
  border-radius: 4px;
  overflow: hidden;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .imgBox {
  width: 100% !important;
  border: 4px solid #182028 !important;
  border-radius: 4px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .imgBox img {
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
  height: 400px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .textBox {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: start;
  width: 100%;
  padding: 10px 20px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .textBox h4 {
  transition: 0.3s;
  font-size: 20px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .textBox h4:hover {
  color: #CD3D0F;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .textBox span {
  color: #CD3D0F;
  font-weight: 500;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .iconsBox {
  padding: 10px 20px 30px 20px;
  width: 100%;
  display: flex;
  gap: 1px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .iconsBox i {
  color: #262E36;
  font-size: 14px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .iconsBox .active {
  color: #FEBF00;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .btnsBox {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 5;
  bottom: -4px;
  position: absolute;
  width: 100%;
  background-color: #081018;
  display: none;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .btnsBox .row {
  padding: 0 !important;
  margin: 0 !important;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .btnsBox .row .col-6 {
  padding: 0 !important;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .btnsBox .row .col-6 button {
  height: 50px;
  width: 100%;
  border: 0;
  background-color: transparent;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .btnsBox .row .col-6 button i {
  font-size: 20px;
  color: #fff;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .btnsBox .row .col-6 button:hover {
  background-color: #7a2508;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .topBtnsBoxx {
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .topBtnsBoxx .hotSpanDiv {
  display: flex;
  justify-items: end !important;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .topBtnsBoxx div {
  padding: 10px;
  display: flex;
  align-items: center;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card .topBtnsBoxx div span {
  background-color: #E0232D;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  padding: 0;
  padding: 12px 8px;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  font-size: 14px;
}
#section-featured .section-featured-content .section-featured-carousel .sec-two-card:hover .btnsBox {
  transition: 1s;
  display: block;
  background-color: #CD3D0F;
}
#section-featured .section-featured-content .section-featured-carousel .carousell :where(.sec-two-card, .img) {
  display: flex;
  justify-content: start;
  align-items: start;
}
#section-featured .section-featured-content .section-featured-carousel .carousell .sec-two-card {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
@media screen and (max-width: 900px) {
  #section-featured .section-featured-content .section-featured-carousel .wrapper .carousell {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  #section-featured .section-featured-content .section-featured-carousel .wrapper .carousell {
    grid-auto-columns: 100%;
  }
}

#custom-featured-section {
  padding: 40px 0;
  background-color: #081018;
}
#custom-featured-section .custom-featured-content {
  padding: 40px 0;
}
#custom-featured-section .custom-featured-content .custom-featured-title {
  padding: 40px 0;
}
#custom-featured-section .custom-featured-content .custom-featured-title h4 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}
#custom-featured-section .custom-featured-carousel {
  width: 100%;
  position: relative;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper {
  width: 100%;
  position: relative;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-i {
  z-index: 10;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: rgba(205, 62, 15, 0.4470588235);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: #fff;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-i:active {
  transform: translateY(-50%) scale(0.85);
}
#custom-featured-section .custom-featured-carousel .custom-wrapper #custom-left {
  left: -12px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper #custom-right {
  right: -12px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell.no-transition {
  scroll-behavior: auto;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell.dragging .custom-sec-two-card {
  cursor: grab;
  user-select: none;
  padding: 0 !important;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell::-webkit-scrollbar {
  display: none;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card {
  background-color: #182028 !important;
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  border: 4px solid #182028 !important;
  border-radius: 8px;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: start;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .imgBox {
  position: relative;
  width: 300px !important;
  border-radius: 10px;
  background-color: #182028 !important;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .imgBox img {
  width: 100%;
  border-radius: 10px;
  height: 60% !important;
  background-size: cover;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .imgBox .imgBoxIcons {
  padding: 10px 5px;
  top: 0;
  width: 100%;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .imgBox .imgBoxIcons span {
  padding: 0 !important;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #CD3D0F;
  color: #fff;
  align-items: center;
  justify-content: center;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .textDiv {
  background-color: #182028;
  padding-top: 40px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .textDiv h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .iconsBox {
  display: flex;
  gap: 1px;
  padding-bottom: 20px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .iconsBox i {
  font-size: 14px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .iconsBox .active {
  color: #FEBF00;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .priceDiv {
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
  color: #CD3D0F;
  font-size: 18px;
  font-weight: 500;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .priceDiv .activee {
  color: gray;
  text-decoration: line-through;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .description {
  max-width: 700px;
  color: #BEC6CD;
  min-height: 100px;
  max-height: 120px;
  overflow: hidden;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv {
  padding-bottom: 40px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv button {
  border: 0;
  outline: 0;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv .addBasket {
  background-color: #CD3D0F;
  color: #fff;
  width: 140px;
  height: 42px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv .addBasket:hover {
  background-color: #a8320b;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv .addWish {
  height: 42px;
  width: 42px;
  background-color: transparent;
  border: 1px solid #90989F;
  color: #90989F;
  border-radius: 50%;
  transition: 0.5s;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv .addWish i {
  font-size: 18px;
}
#custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .btnsDiv .addWish:hover {
  background-color: #CD3D0F;
  border: 1px solid #CD3D0F;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  #custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell {
    grid-auto-columns: 100%;
  }
}

#section-game-info .section-game-info-img {
  height: 600px;
  background-image: url("../img/homepage_2_background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 20%;
}
#section-game-info .section-game-info-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
#section-game-info .section-game-info-img .section-game-info-content {
  background-color: rgba(2, 0, 0, 0.3);
  transition: 0.3s ease;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-game-info .section-game-info-img .section-game-info-content .game-info-text-content {
  opacity: 1;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}
#section-game-info .section-game-info-img .section-game-info-content .game-info-text-content h2 {
  font-size: 45px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding-bottom: 20px;
}
#section-game-info .section-game-info-img .section-game-info-content .game-info-text-content p {
  width: 80%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 28px;
}
#section-game-info .section-game-info-img .section-game-info-content .game-info-text-content button {
  border: 0;
  width: 160px;
  height: 48px;
  border-radius: 25px;
  background-color: #CD3D0F;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
#section-game-info .section-game-info-img .section-game-info-content .game-info-text-content button:hover {
  background-color: #a8320b;
}
#section-game-info .section-game-info-img .section-game-info-content:hover {
  transition: 0.3s ease;
  background-color: rgba(2, 0, 0, 0.6);
}

#section-resent-game {
  padding: 40px 0;
  background-color: #081018;
}
#section-resent-game .section-resent-game-content .resent-game-head-content {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
#section-resent-game .section-resent-game-content .resent-game-head-content .resent-title h4 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}
#section-resent-game .section-resent-game-content .resent-game-head-content .resent-catogory-filters ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex-wrap: wrap;
}
#section-resent-game .section-resent-game-content .resent-game-head-content .resent-catogory-filters ul li {
  color: #90989F;
  cursor: pointer;
  list-style: none;
}
#section-resent-game .section-resent-game-content .resent-game-head-content .resent-catogory-filters ul li h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
#section-resent-game .section-resent-game-content .resent-game-head-content .resent-catogory-filters ul .active {
  color: #CD3D0F;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card {
  width: 300px;
  position: relative;
  background-color: #182028 !important;
  padding: 0px !important;
  border-radius: 4px;
  overflow: hidden;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .imgBox {
  width: 100% !important;
  border: 4px solid #182028 !important;
  border-radius: 4px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .imgBox img {
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
  height: 400px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .textBox {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: start;
  width: 100%;
  padding: 10px 20px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .textBox h4 {
  transition: 0.3s;
  font-size: 20px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .textBox h4:hover {
  color: #CD3D0F;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .textBox span {
  color: #CD3D0F;
  font-weight: 500;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .iconsBox {
  padding: 10px 20px 30px 20px;
  width: 100%;
  display: flex;
  gap: 1px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .iconsBox i {
  color: #262E36;
  font-size: 14px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .iconsBox .active {
  color: #FEBF00;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .btnsBox {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 5;
  bottom: -4px;
  position: absolute;
  width: 100%;
  background-color: #081018;
  display: none;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .btnsBox .row {
  padding: 0 !important;
  margin: 0 !important;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .btnsBox .row .col-6 {
  padding: 0 !important;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .btnsBox .row .col-6 button {
  height: 50px;
  width: 100%;
  border: 0;
  background-color: transparent;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .btnsBox .row .col-6 button i {
  font-size: 20px;
  color: #fff;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .btnsBox .row .col-6 button:hover {
  background-color: #7a2508;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .topBtnsBoxx {
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .topBtnsBoxx .hotSpanDiv {
  display: flex;
  justify-items: end !important;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .topBtnsBoxx div {
  padding: 10px;
  display: flex;
  align-items: center;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card .topBtnsBoxx div span {
  background-color: #E0232D;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  padding: 0;
  padding: 12px 8px;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  font-size: 14px;
}
#section-resent-game .section-resent-game-content .resent-cards-main-div .resent-cards .sec-two-card:hover .btnsBox {
  transition: 1s;
  display: block;
  background-color: #CD3D0F;
}

footer {
  padding: 30px 0;
  background-color: #00080F;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer-content p {
  margin: 0;
  padding: 0;
  color: #90989f;
  font-size: 18px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer .footer-content ul {
  gap: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
footer .footer-content ul li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-content ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-decoration: none;
}
footer .footer-content ul li a i {
  font-size: 16px;
  color: #fff;
}
footer .footer-content ul li a:hover {
  transition: 0.3s;
  background-color: #E0232D !important;
}

@media screen and (max-width: 560px) {
  header .navbar-brand img {
    width: 169px;
  }
  #custom-featured-section .custom-featured-carousel .custom-wrapper .custom-carousell .custom-sec-two-card .description {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  header .navbar-nav {
    padding-left: 0 !important;
  }
}