@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
#login-section {
  padding: 20px 0;
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
#login-section .login-section-content .formBox {
  padding: 60px 40px;
  width: 480px;
  border-radius: 6px;
  background-color: #202020;
  margin: 0 auto;
}
#login-section .login-section-content .formBox .imgBox {
  padding-bottom: 40px;
  text-align: center;
}
#login-section .login-section-content .formBox .imgBox img {
  width: 130px;
}
#login-section .login-section-content .formBox .formTitle {
  padding-bottom: 20px;
}
#login-section .login-section-content .formBox .formTitle h3 {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#login-section .login-section-content .formBox form {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#login-section .login-section-content .formBox form input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  height: 55px;
  border-radius: 6px;
  padding: 0 20px;
  outline: 0;
  color: #fff;
}
#login-section .login-section-content .formBox form input:focus {
  border: 1px solid #CD3D0F;
  outline: none;
}
#login-section .login-section-content .formBox form button {
  height: 50px;
  outline: 0;
  border: 0;
  background-color: #CD3D0F;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
#login-section .login-section-content .formBox .sign-up-link {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
}
#login-section .login-section-content .formBox .sign-up-link a {
  color: rgba(245, 245, 245, 0.6);
}

@media screen and (max-width: 560px) {
  #login-section {
    min-height: 100vh;
  }
  #login-section .login-section-content .formBox {
    padding: 35px 20px;
    width: 100%;
  }
}