header {
  background-color: #00080F;
}
header .nav-item {
  color: #fff !important;
}
header .nav-item .active {
  color: #CD3D0F !important;
}
header .nav-item a {
  color: #fff;
  font-size: 20px;
}
header .nav-item a:hover {
  color: #CD3D0F !important;
}

#section-hero {
  color: #fff;
  background-color: #121212;
  padding: 40px 0;
  min-height: 93vh;
}
#section-hero .section-hero-content .usersBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#section-hero .section-hero-content .usersBox .userBox {
  width: 300px;
  padding: 10px;
  border-radius: 6px;
  background-color: #202020;
}